<!DOCTYPE html>
{% load static %}
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>The Cappa Boutique Hotel</title>
    <link rel="shortcut icon" href="{% static 'media/img/favicon.png' %}">
{#    <link rel="stylesheet" href="../../../../css2?family=Barlow&family=Barlow+Condensed&family=Gilda+Display&display=swap">#}
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Preloader -->
    <div class="preloader-bg"></div>
    <div id="preloader">
        <div id="preloader-status">
            <div class="preloader-position loader"> <span></span> </div>
        </div>
    </div>
    <!-- Progress scroll totop -->
    <div class="progress-wrap cursor-pointer">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewbox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>
    {% include 'base/header.html' %}
    <!-- Restaurant Slider -->
    <header class="header slider">
        <div class="owl-carousel owl-theme">
            <!-- The opacity on the image is made with "data-overlay-dark="number". You can change it using the numbers 0-9. -->
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="{% static '/img/restaurant/1.jpg' %}"></div>
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="{% static '/img/restaurant/2.jpg' %}"></div>
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="{% static '/img/restaurant/3.jpg' %}"></div>
            <div class="text-center item bg-img" data-overlay-dark="3" data-background="{% static '/img/restaurant/4.jpg' %}"></div>

        </div>
        <!-- arrow down -->
        <div class="arrow bounce text-center">
            <a href="#" data-scroll-nav="1" class=""> <i class="ti-arrow-down"></i> </a>
        </div>
    </header>
    <!-- Restaurant Content -->
    <section class="rooms-page section-padding" data-scroll-index="1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-md-12 text-center"> <span>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                        <i class="star-rating"></i>
                    </span>
                    <div class="section-subtitle">An Experience for the Senses</div>
                    <div class="section-title">The Restaurant & Bar</div>
                    <p class="mb-30">Led by Chef de Micheal Martin, The Restaurant is celebrated for its excellent cuisine and unique ambience. The gorgeous dining room features three open studio kitchens, allowing you to enjoy the sights and sounds of the culinary artistry on display. The menu showcases both Asian and European influences, with a tempting selection of classic favorites and creative dishes for you to sample. Cheese connoisseurs will be drawn to the The Wine and Cheese Cellar, housed in five-meter-high glass walls, where our knowledgeable staff can introduce you to some of New York's greatest culinary treasures.</p>
                    <h6>Hours</h6>
                    <div class="text-center">
                        <p>Breakfast: 7.00 am – 11.00 am (daily)</p>
                        <p>Lunch: 12.00 noon – 2.00 pm (daily)</p>
                        <p>Dinner: open from 6.30 pm, last order at 10.00 pm (daily)</p>
                    </div>
                    <h6>Dress Code</h6>
                    <p>Smart casual (no shorts, hats, or sandals permitted)</p>
                    <h6>Terrace</h6>
                    <p>Open for drinks only</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Restaurant Menu -->
   <section id="menu" class="restaurant-menu menu section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-subtitle"><span>Luxury Hotel</span></div>
                <div class="section-title">Restaurant Menu</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="tabs-icon col-md-10 offset-md-1 text-center">
                        <div class="owl-carousel owl-theme">
                            {% for menu_type, items in grouped_menus.items %}
                            <div id="tab-{{ forloop.counter }}" class="item {% if forloop.first %}active{% endif %}">
                                <h6>{{ menu_type }}</h6>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="restaurant-menu-content col-md-12">
                        {% for menu_type, items in grouped_menus.items %}
                        <div id="tab-{{ forloop.counter }}-content" class="cont {% if forloop.first %}active{% endif %}">
                            <div class="row">
                                {% for item in items %}
                                <div class="col-md-5 {% if forloop.counter0|divisibleby:2 %}offset-md-2{% endif %}">
                                    <div class="menu-info">
                                        <h5>{{ item.name }} <span class="price">{{ item.price }}$</span></h5>
                                        <p>{{ item.description }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Testiominals -->
{#    <section class="background bg-img bg-fixed section-padding pb-0" data-background="img/slider/1.jpg" data-overlay-dark="5">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center">#}
{#                <div class="col-lg-8 col-md-12 text-center">#}
{#                    <div class="testimonials">#}
{#                        <div class="testimonials-box">#}
{#                            <div class="owl-carousel owl-theme">#}
{#                                <div class="item"> <span>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                    </span>#}
{#                                    <h5>Highly recommended!</h5>#}
{#                                    <p>Lorem dapibus asue metus the nec feusiate eraten miss hendreri net ve ante the lemon sanleo nectan feugiat erat hendrerit necuis ve ante viventa miss sapien silver on the duiman lorem ipsum amet silver miss rana duru at finibus viverra neca the sene on satien.</p>#}
{#                                    <div class="info">#}
{#                                        <div class="author-img"> <img src="../static/img/team/1.jpg" alt=""> </div>#}
{#                                        <div class="cont">#}
{#                                            <h6>Andreas Brown</h6> <span>Customer review</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item"> <span>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                    </span>#}
{#                                    <h5>A Unique Boutique Hotel!</h5>#}
{#                                    <p>Lorem dapibus asue metus the nec feusiate eraten miss hendreri net ve ante the lemon sanleo nectan feugiat erat hendrerit necuis ve ante viventa miss sapien silver on the duiman lorem ipsum amet silver miss rana duru at finibus viverra neca the sene on satien.</p>#}
{#                                    <div class="info">#}
{#                                        <div class="author-img"> <img src="../static/img/team/2.jpg" alt=""> </div>#}
{#                                        <div class="cont">#}
{#                                            <h6>Emily White</h6> <span>Customer review</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item"> <span>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                        <i class="star-rating"></i>#}
{#                                    </span>#}
{#                                    <h5>Highly recommended!</h5>#}
{#                                    <p>Lorem dapibus asue metus the nec feusiate eraten miss hendreri net ve ante the lemon sanleo nectan feugiat erat hendrerit necuis ve ante viventa miss sapien silver on the duiman lorem ipsum amet silver miss rana duru at finibus viverra neca the sene on satien.</p>#}
{#                                    <div class="info">#}
{#                                        <div class="author-img"> <img src="../static/img/team/3.jpg" alt=""> </div>#}
{#                                        <div class="cont">#}
{#                                            <h6>Daniel Martin</h6> <span>Customer review</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!-- Footer -->
    {% include 'base/footer.html' %}
    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.isotope.v3.0.2.js' %}"></script>
    <script src="{% static 'js/pace.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/YouTubePopUp.js' %}"></script>
    <script src="{% static 'js/select2.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/smooth-scroll.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
